@font-face {
    font-family: "Trajan";
    src: url("/fonts/Trajan Pro Regular.ttf");
}

#counter {
    font-family: Trajan, "Open Sans", sans-serif;
    -webkit-text-stroke-width: 0.5px;
}

img {
    height: 1em;
}